<app-menu></app-menu>
<div *ngIf='summarys'>
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/movie/list">Return to list...</a></span>
    </section>
    <main class="single">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Movie</th>
                    <th>Role</th>
                    <th>Rating</th>
                    <th>Year</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let summary of summarys'>
                    <td>{{summary.id}}</td>
                    <td>{{summary.movie.title}}</td>
                    <td>{{summary.credit.role}}</td>
                    <td>{{summary.movie.rating}}</td>
                    <td>{{summary.movie.year}}</td>
                    <td>{{summary.movie.director}}</td>
                </tr>
            </tbody>
        </table>
    </main>
</div>